<a href="https://colab.research.google.com/github/nandaniluitel/BigData/blob/main/Highest_Bottom_Performing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
school_df = pd.read_csv("/content/drive/MyDrive/pandas/schools_complete.csv")

In [4]:

student_df = pd.read_csv("/content/drive/MyDrive/pandas/students_complete.csv")
complete_data = pd.merge(school_df,student_df,how="left",on=["school_name","school_name"])

In [5]:
complete_data.head(10)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84

In [6]:
# prompt: Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

# Calculate the overall passing rate
complete_data['% Overall Passing'] = (complete_data['reading_score'] >= 70) & (complete_data['math_score'] >= 70)

# Group data by school name and calculate the mean of overall passing rate
overall_passing_per_school = complete_data.groupby('school_name')['% Overall Passing'].mean() * 100

# Sort schools by % Overall Passing in descending order and display the top 5
top_5_schools = overall_passing_per_school.sort_values(ascending=False).head(5)
top_5_schools

school_name
Cabrera High School    91.334769
Thomas High School     90.948012
Griffin High School    90.599455
Wilson High School     90.582567
Pena High School       90.540541
Name: % Overall Passing, dtype: float64

In [7]:
# prompt: # Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.

# Sort schools by % Overall Passing in ascending order and display the top 5
bottom_5_schools = overall_passing_per_school.sort_values(ascending=True).head(5)
bottom_5_schools

school_name
Rodriguez High School    52.988247
Figueroa High School     53.204476
Huang High School        53.513884
Hernandez High School    53.527508
Johnson High School      53.539172
Name: % Overall Passing, dtype: float64